<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <!--This Is Our 1st Beans-->
 
 <bean class="com.springCore.Student"  name="student1">
   <property name="studentId"    value="123"/>   
   <property name="studentName"   value=">Indrajit Samanta"/>   
   <property name="studentAddress" value="B-4/456, Kalyani, Nadia, West Bengal, 741235"/>
  </bean>

 <!--This Is Our 1st Beans-->
 
  <bean class="com.springCore.Student"  name="student2">
   <property name="studentId"    value="456"/>   
   <property name="studentName"   value=">Sandeepa Das"/>   
   <property name="studentAddress" value="W-2/567, Basdrouni, Kolkata, West Bengal, 700098"/>
 </bean>
 <!-- more bean definitions go here -->
</beans>